body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* #f9e12a */

nav{
  background-color: #fbd517;
  color: rgb(55, 54, 54);
}
.navbar-nav{
  font-weight: 600; 
  font-size: 1.3rem;
  
}

i{
  color: rgb(55, 54, 54);
  font-size: 1.2rem;
}

.inpcls{
  margin: 10px 0;
}

.CardStyle{
  margin: 40px 40px;
  display: inline-block;
  text-align: center;
}
.cardImg{
  width: 18rem;
}
.card{
  width: 18rem;
 
}

.alert{
  margin-top: 50px;
}
.mybtn{
  background-color: #fbd517;
  color: rgb(55, 54, 54);
  border-radius: 10px;
  border: none;
  padding: 0.5rem 1rem;
}

.homeImages{
  height: 90vh;
}

ul{
  gap: 20px;
}

.navbar-brand{
  margin-left: 50px;
  font-family: 'Luckiest Guy', cursive;

}

.TextOfITag{
  margin-left: 6px;
}

.navLinkBorder{
  border: 2px solid rgb(55, 54, 54);
  border-radius: 5px;
}

/* .footer{
  z-index:-9999;
} */


.heading{
  margin: 50px 0px;
  text-align: center;
}


.box{
  text-align: center;
  background-color: #fce355;
  color: rgb(55, 54, 54) ;
  border-radius: 5px;
}

.aboutUs{
  margin: 70px 0px;
}

.aboutImg{
  background-image: url("images/aboutUs.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 500px;
  
}








.form{
  position: relative;
}

.form .ri-search-line{

  position: absolute;
  top:15px;
  left: 20px;
  color: #9ca3af;

}


.form-input{

  height: 55px;
  text-indent: 33px;
  border-radius: 10px;
  margin-top:40px;
  border:2px solid grey;
}

.form-input:focus{

  box-shadow: none;
  border:none;
}




@media only screen and (max-width:248px){
  
  .TextOfITag{
    font-size: 1rem;
  }
  .navbar-brand{
    margin-left: 0px;
  }
  .box{
    font-size: 12px;
  }
}

@media only screen and (max-width:360px){
.CardStyle{
  margin: 20px 0px;  
  /* width: 300px; */
  display: flex;
  text-align: center;
  justify-content: center;
 
  
}
}

@media only screen and (max-width:300px){
  .CardStyle{
    margin: 20px 0px;  
    /* width: 300px; */
    display: flex;
    text-align: center;
    justify-content: center;
   
    
  }
  .cardImg{
    width: 100px;

  }
  .card{
    width: 14rem;
  }
  }



